body{
    padding: 0;
    margin: 0;
}

.container{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;

}

.container--flex{
    display: flex;
}

.container--horizontal-center{
    justify-content: center;
}

.container--vertical-center{
    align-items: center;
}

.form{
    border: 1px solid ;
    width: 400px;
    border-radius: 10px;
    box-shadow: 5px 10px 0 0 black;
}

.form__title{
    text-align: center;
    padding: 0 0 20px 0;
}

.form__title--divide{
    border-bottom: 1px solid black;
}

.form__description{
    text-align: center;
}

.form__description--required{
    text-decoration: none;
    color: red;
}

.form__body{
    border-top: 1px solid black;
    margin: 10px;
}

.form__item{

}

.form__item label{
    display: block;
    padding-bottom: 10px;
}

.form__item input{
    display: block;
    width: 370px;
}

.button{
    width: 100%;
    height: 34px;
    border: none;
    box-shadow: 3px 5px 0 0 black;
}

.button:hover{
    padding-top: 2px;
    width: 100%;
    height: 34px;
    border: none;
    box-shadow: 1px 2px 0 0 black;
}
